#themeIcon {
    width: 30px;
    height: 30px;
    filter: invert(1);
    margin-right: 10px;
}

.gameCoverContainer {
    width: 20%;
    padding-right: var(--bs-card-spacer-y);
}

.serverInfoContainer {
    width: 80%;
}

.serverInfoContainer table {
    width: 100%;
}

.serverInfoContainer table tr th {
    width: 25%;
}

.serverInfoContainer table tr td {
    width: 75%;
}

#gitcard{
    padding-top: 15px;
}
#gitcard * {
    text-decoration: none !important;
}
#gitcard-slider {
    display: flex;
    justify-content: center;
}
#mainContent {
    margin: 20px 0 0 0;
}
#gitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  #gitButton .git-button-text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin: 0; /* Remove default margin */
    display: flex;
    align-items: center; /* Ensure vertical alignment */
  }
  
  #gitButton svg path {
    transition: 400ms;
  }
  
  #gitButton:hover {
    background-color: transparent;
  }
  
  #gitButton:hover .git-button-text {
    color: #181717;
  }
  
  #gitButton:hover svg path {
    fill: #181717;
  }
  
  